
  display: flex;
}

.container {
  width: 375px;
  margin: 0 auto;
}

.wrapper {
  width: 327px;
  background: white;
  margin: 24px auto;
  height: 100vh;
}

.grid {
  width: 100%;
  display: grid;
  grid-gap: 12px;
  height: 100%;
  margin: 0 auto;
}

.grid div {
  /*background: tomato;*/
  font-family: Poppins, sans-serif;
  font-style: normal;
} 
